@import '../Cummon.sass'
    
.navbar
    background-color: $details-contrast

.button.is-danger
    background-color: #f03a5f

.button.is-danger:hover
    background-color: $back-ground

.button.is-danger:active
    background-color: #f03a5f

.superhero
    text-align: center
    align-content: center
    display: inline-block
    width: 150px
    background-color: #ce9243

.ul
    margin: 2rem