@charset "utf-8";

@import '../Cummon.sass';
@import "../../node_modules/bulma/bulma.sass";
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/grid/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/components/card.sass'
@import '../../node_modules/bulma/sass/elements/box.sass'
@import '../../node_modules/bulma/sass/form/input-textarea'
@import '../../node_modules/bulma/sass/elements/progress.sass';

.login-page
    background-color: $details-contrast
    padding-top: 4rem
    margin-left: 25rem
    margin-right: 25rem

#toReg
    color: #154360

