@import '../Cummon.sass'

.superhero
    border-radius: 10px
    margin: 2rem
    padding: 1rem
    width: 200px
    text-align: center
    align-content: center
    display: inline-block
    background-color: #ce9243

.hero-powerstats
    margin-top: .5rem
    margin-bottom: .5rem
    text-align: left

.hero-image
    margin-top: .5rem

.button
    .details